#main{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 120vh 200px;

    grid-template-areas: 
    'mn mn'
    'ft ft'
}



body{
    margin: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#geckos{
    grid-area: gecko;
    display: grid;
    margin-bottom: 10px;

    grid-template-areas: 
    'as as'
    'tokay dag';
    grid-template-columns: 1fr 1fr;
    
}

#burgerMenu{
    height: 100vh;
    width: 40vw;
    background-color: azure;
    position: fixed;
    left: -90vw;
    top: 0;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.fadeLayer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 5;
}

.show{
    left: 0 !important;
}

.fadeLayer.visible{
    display: block;
}

.centerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

#agamer{
    grid-area: agam;
}

header{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 4;
}

footer{
    grid-area: ft;
    background-color: azure;
    font-size: 130%;
    padding: 10px;
}

.menu{
    background-color: red;
    cursor: pointer;
    display: inline;
}

main{
    grid-area: mn;
    margin: 10px;
}

aside{
    grid-area: as;
}

.dag{
    grid-area: dag;
    width: 32vw;
    border: 4px solid black;
}

.tokay{
    grid-area: tokay;
    width: 32vw;
    border: 4px solid black;
    
}