#container{
    display: grid;
    width: 100vw;
    background-color: antiquewhite;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr 3fr;

    grid-template-areas: 
    'nav hd'
    'gecko gecko'
    'agam agam';
}

body{
    margin: none;
}

#geckos{
    grid-area: gecko;
    display: grid;

    grid-template-areas: 
    'as as'
    'tokay dag';
}

.tokay.art{
    background-color: white;
    grid-area: tokay;
    margin: 10px;
}

.dag.art{
    color: white;
    grid-area: dag;
}

#agamer{
    grid-area: agam;
}

header{
    grid-area: hd;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: as;
}

#geckos, #agamer{
    display: grid;
    grid-template-areas: 
    'tokay dag';
}

.dag{
    grid-area: dag;
    gap: 100px;
}