#main{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-rows: auto 200px;

    grid-template-areas: 
    'mn'
    'ft'
}

body{
    margin: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

#geckos{
    grid-area: gecko;
    display: grid;
    margin-bottom: 5vh;
    margin-top: 100px;

    grid-template-areas: 
    'as as'
    'tokay dag';
    grid-template-columns: 1fr 1fr; 
}

#burgerMenu{
    height: 100vh;
    width: 70vw;
    background-color: rgb(176, 230, 230);
    position: fixed;
    left: -90vw;
    top: 0;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    display: flex;
    justify-content: center;

}

@media screen and (min-width: 720px){
    #burgerMenu{
        height: 100vh;
        width: 30vw;
        background-color: rgb(176, 230, 230);
        position: fixed;
        left: -90vw;
        top: 0;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: flex;
        justify-content: center;
    }

    .navButton a{
        padding: 30px 7vw !important;
    }
}

.fadeLayer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 5;
}

.show{
    left: 0 !important;
}

.fadeLayer.visible{
    display: block;
}

.centerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

#agamer{
    grid-area: agam;
    display: grid;
    margin-bottom: 10px;

    grid-template-areas: 
    'as as'
    'dabb vatten';
    grid-template-columns: 1fr 1fr;
}

header{
    background: azure;
    position: fixed;
    font-size: vh;
    text-align: center;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
    border-bottom: solid 2px black;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: 4;
}

footer{
    grid-area: ft;
    background-color: azure;
    font-size: 130%;
    padding: 10px;
}

.menu{
    background-color: azure;
    cursor: pointer;
    display: inline;
}

main{
    display: grid;
    grid-area: mn;
    margin: 10px;
    grid-template-areas: 
    'gecko'
    'agam';
}

aside{
    grid-area: as;
}

h2{
    font-size: px;
}

.button{
    width: 80px;
    height: 80px;
}

.dag{
    grid-area: dag;
    width: 32vw;
    border: black solid 4px;
}

.tokay{
    grid-area: tokay;
    width: 32vw;
    border: black solid 4px;
}

.vatten{
    grid-area: vatten;
    width: 32vw;
    border: black solid 4px;
}

.dabb{
    grid-area: dabb;
    width: 32vw;
    border: black solid 4px;
}

ul{
    list-style-type: none;
    padding: 0;
}

.navButton{
    border: 2px solid black;
    font-size: 200%;
}

.navButton a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(206, 253, 253);
    padding: 50px 24vw;
}

.navButton a:hover{
    background-color: rgb(185, 226, 226);
}